<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body style="background-color: #f7f7f7;">
    <button class="back-button position-absolute" style="left: 10px; top: 10px; color: #333;" onclick="window.history.back()">
        <i class="fa fa-arrow-left fa-2x"></i>
    </button>
    <div class="container" style="max-width: 960px;">
        <div class="row mt-5">
            <div class="col-md-3 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <span type="hidden" id="blogId" th:value="${param.id}"></span>
                        <h5 class="card-title">Views: <span id="viewCounter"></span></h5>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center" th:text="${title}" style="color: #333; font-family: 'Roboto', sans-serif; margin: 30px 0; font-size: 48px; font-weight: bold;"></h1>
        <h3 class="text-center" style="color: #333; font-family: 'Roboto', sans-serif; margin: 30px 0;">Category: [[${category}]]</h3>
        <h5 class="text-center"  style="color: #333; font-family: 'Roboto', sans-serif;">Author: [[${author}]]</h5>
        <p class="card-text text-center border" th:text="${body}" style="word-wrap: break-word;"></p>
        
        <form th:action="@{/blog/{id}(id=${param.id})}" th:method="post">
            <button class="delete-button" style="background-color: #333; color: #fff; padding: 10px 20px; border: none;">Delete</button>
        </form>
        
    </div>

    <script>
        var blogId = $("#blogId").attr("value");
        function getBlogViews() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById('viewCounter').innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/blogViews/"+blogId, true);
            xhttp.send();
        }
    
        getBlogViews();
        setInterval(getBlogViews, 3000);
    </script>
</body>
</html>